<!--Responsive Table Start-->
<div class="col-12 mb-30">
    <div class="box">
        <div class="box-head d-flex justify-content-between align-items-center">
            <h4 class="title">لیست مطالب</h4>
            <a href="posts/create" class="btn btn-primary">ایجاد مطلب جدید +</a>
        </div>
        <div class="box-body">
            <div class="table-responsive ">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>عنوان</th>
                            <th>نویسنده</th>
                            <th>تاریخ انتشار</th>
                            <th>تعداد بازدید</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        {{#each posts}}
                            <tr>
                                <td></td>
                                <td>
                                    <a href="#">{{this.title}}</a>
                                </td>
                                <td>{{this.name}}</td>
                                <td>{{this.shamsi_c_at}}</td>
                                <td>{{this.views}}</td>
                                <td>/</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Responsive Table End-->